<div class="footer">
  <div class="icons-footer">

    <div class="icontext">
      <%= link_to ingredients_path, class:"text-footer" do %>
        <%= image_tag "refrigerateur.png", alt: "Le Wagon", width: 40 %>
        <p>Mon frigo</p>
      <% end %>
    </div>

    <div class="icontext">
      <%= link_to cookbook_path(current_user), class:"text-footer" do %>
        <%= image_tag "open-book.png", alt: "Le Wagon", width: 40 %>
        <p>Cookbook</p>
      <% end %>
    </div>

    <div class="icontext">
      <%= link_to ingredients_path, class:"text-footer" do %>
        <%= image_tag "rabbit.png", alt: "Le Wagon", width: 40 %>
        <p>Mon profil</p>
      <% end %>
    </div>

  </div>
</div>

   <%= link_to root_path do %>
      <%= image_tag "refrigerateur.png", alt: "Le Wagon", width: 40 %>
    <% end %>
