<div class="footer">
  <div class="icons-footer">

    <div class="icontext">
      <%= link_to ingredients_path, class:"text-footer" do %>
        <%= image_tag "refrigerateur.png", alt: "Le Wagon", width: 40 %>
        <p class="mb-1">Frigo</p>
      <% end %>
    </div>


    <div class="icontext">
      <%= link_to cookbook_path(current_user), class:"text-footer" do %>
        <%= image_tag "open-book.png", alt: "Le Wagon", width: 40 %>
        <p class="mb-1">Recettes</p>
      <% end %>
    </div>

    <div class="icontext">
      <%= link_to root_path, class:"text-footer" do %>
        <%= image_tag "rabbit.png", alt: "Le Wagon", width: 40 %>
        <p class="mb-1">Profil</p>
      <% end %>
    </div>

  </div>
</div>
