
<div class="container filter-content">
  <p><strong>Qu'est-ce qu'on cuisine aujourd'hui ? </strong></p>
    <div class="filter-recipe-form">
      <%= simple_form_for :choices, url: generate_recipes_recipes_path, method: :get, html: { data: { loader_target: "form", action: "submit->loader#displayLoader "} } do |f| %>

      <div data-controller="quantity">

          <div class="quantity-input row align-items">
              <%= f.input :quantity, as: :numeric, class: "col" , input_html: { value: 1, data: { quantity_target: "nombre" } }, label: "On est combien ?" %>
            <div class="qty_button">
              <button class="title_button col-1" type="button" data-action="click->quantity#decrement">-</button>
              <button class="title_button col-1" type="button" data-action="click->quantity#increment">+</button>
            </div>
          </div>

        <div>
          <%= f.input :meal_type, collection: ['Entrée', 'Plat', 'Dessert'], label: "Type de repas" %>
        </div>

        <div class="display-ingredient-checkboxes">
        <%= f.input :ingredients, collection: current_user.ingredients, as: :check_boxes, label: "Qui on sauve ?" %>
        </div>


        <%= f.submit "Trouve moi des recettes !", class: "main_btn"%>
      <% end %>


    </div>
</div>
