<% ingredients.each do |ingredient| %>


    <%# <div class="ingredient-card">
      <%# <h2 class="generation_title"><%= ingredient["name"] %>
        <%# <div class="">
          <%= link_to "+", add_ingredients_path, data: { turbo_method: :post, action: "click->results#add", results_ingredient_name_param: ingredient["name"] }, class:"bi bi-plus-circle" %>
        <%# </div>
    </div> %>

<div class="card-design" style="card-design">
  <div class="card-body">
    <%= image_tag(ingredient_img(ingredient["name"]), class: "vegetable") %>
    <p class="generation_title fw-semibold"><%= ingredient["name"] %></p>

    <%= link_to "", add_ingredients_path, data: { turbo_method: :post, action: "click->results#add", results_ingredient_name_param: ingredient["name"] }, class:"fa-solid fa-plus"%>
  </div>
</div>

<% end %>
