
<div class="bg-content pt-4">
  <div class="header-titre-subtitre">
    <div class = "titre-carrotte-frigo">
      <%= image_tag("carrot-logo.png", class: "petite-carrote") %>
      <h1 class="title-frigo">AJOUTEZ VOTRE FRIGO</h1>
    </div>
  </div>
    <br>
  <div class="flex- pe-0 mt-3 ps-0 mr-3">
    <div class="ingredient-form">
      <%= form_with model: @ingredient, url: analyze_image_ingredients_path, method: :post, html: { multipart: true, id: 'ingredient-form' } do |form| %>
        <br>
        <br>
        <br>
        <br>
        <br>
      <div class="download-picture">
        <%= form.label :photo, "Télécharger votre frigo", class: "add-fridge" %>
      </div>
        <br>

        <%= form.file_field :photo, accept: 'image/jpeg,image/jpg' %>
    </div>
    <br>
    <div class="button-analyser">
      <%= form.submit "Récupérez vos ingrédients", class: "btn-patate-forme mt-4" %>
    </div>
      <% end %>
  </div>
</div>
