

<div class="index-container" data-controller="loader">
  <div class="header-titre-subtitre">
    <div class = "titre-carrotte-frigo pt-4">
      <%= image_tag("carrot-logo.png", class: "petite-carrote") %>
      <h1 class="title-frigo ps-0">FRIGO</h1>
    </div>

    <div class="instruction">
      <p class="p-2"> Oh ! Votre frigo est bien rempli !</p>
    </div>
  </div>

    <div class="">
    <!-- Button trigger modal -->
    <%# <button type="button" class="btn-patate" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Générer une recette
    </button> %>

    <%= link_to "Générer une recette", recipes_path, class: "btn-patate", data: { bs_toggle: "modal", bs_target: "#exampleModal" } %>



    <div class="">
      <%= link_to "Ajouter un produit", new_ingredient_path, class:"btn-patate"%>
    </div>
  </div>

    <%# START SEARCH--------------------- %>
  <div class="search-bar-group ps-4">
    <%# <div class="d-flex noidea"> %>
      <div class="search-bar py-2">
        <%= form_with url: ingredients_path, method: :get, class: "form d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Chercher un ingrédient..."
          %>

              <button type="submit" class="btn-search">

        <% end %>
      </div>
    <%# </div> %>
  </div>


<%# END SEARCH--------------------- %>

  <div class="container">
    <div class="row">
      <% @ingredients.each do |ingredient| %>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card_design" id="ingredient-card<%= ingredient.id %>">

            <div class="image-plat">
              <% if ingredient.photo.present? %>
                <%= cl_image_tag ingredient.photo.key, class: "plat-image" %>
              <% end %>
            </div>

              <div class="content row ingredient-infos mx-0 p-0">
                <div class="d-flex align-items-center justify-content-between mx-0">
                  <h2 class="title_layout mb-0" id="number-quantity2"><%= ingredient.name %></h2>
                  <div class="destroy">
                    <%= link_to "", ingredient_path(ingredient), data: {turbo_method: :delete, turbo_confirm: "Sur de vouloir supprimer cette recette ?"}, class:"fa-solid fa-trash-can poubelle" %>
                  </div>

                </div>

              <h3 class="time_layout">Dans le frigo depuis :
                <br>
                <%= (((Time.now - ingredient.created_at) / 1.day).round) %> jours
              </h3>
              <div class="d-flex align-items-center justify-content-start pb-2">

                <button class="plus_button pl-2" onclick="decrementQuantity(<%= ingredient.id %>)"> - </button>
                  <p class="mb-0 mx-2" id="number-quantity<%= ingredient.id %>"><%= ingredient.quantity %></p>
                <button class="plus_button" onclick="incrementQuantity(<%= ingredient.id %>)"> + </button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>




  <!-- Modal filtres-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="bg-content bg-warning-subtle">

        <div class="modal-header border-0">
          <h1 class="modal-title" id="exampleModalLabel">  Personnaliser ma recette</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <%= render partial: 'filter_recipes_form', locals: { ingredients: @ingredients, recipes: @recipes } %>
        </div>

        <div class="modal-footer border-0">
          <button type="button" class="little-btn" data-bs-dismiss="modal">Fermer</button>
        </div>

      </div>
    </div>


  </div>

</div>

<script>
  function incrementQuantity(ingredientId) {
    let quantityElement = document.getElementById("number-quantity" + ingredientId);
    let newQuantity = parseInt(quantityElement.innerText) + 1;
    quantityElement.innerText = newQuantity;
  }

  function decrementQuantity(ingredientId) {
    let quantityElement = document.getElementById("number-quantity" + ingredientId);
    let newQuantity = parseInt(quantityElement.innerText) - 1;
    if (newQuantity >= 0) {
      quantityElement.innerText = newQuantity;
    }
  }

</script>


<script>
  function deleteIngredient(ingredientId) {
    let cardElement = document.getElementById("ingredient-card" + ingredientId);
    cardElement.remove();
  }
</script>
