

<div class="index-container pt-4">
  <div class="header-titre-subtitre">
    <div class = "titre-carrotte-frigo">
      <%= image_tag("carrot-logo.png", class: "petite-carrote") %>
      <h1 class="title-frigo">AJOUTER UN INGREDIENT</h1>
    </div>

    <div class="instruction">
      <p class="m-0"> Des nouveautés dans le frigo !</p>
    </div>


<div class="container pe-0 mt-3 ps-0">
  <div class="ingredient-form ps-3 pt-3 pe-0">
<%= form_for @ingredient, url: ingredients_path, html: { multipart: true } do |f| %>      <%= f.label :name, "Ingrédient :", class: "name-label" %>
      <%= f.text_field :name, class: "ingredient-name", placeholder: "Ex: Kiri, carotte, etc." %>

      <%= f.label :quantity, "Quantité :", class: "quantity-label" %>
      <div class="quantity-controls">
        <%# <button type="button" class="quantity-decrement">
          -
        </button> %>
        <%= f.number_field :quantity, class: "ingredient-quantity" %>
        <%# <button type="button" class="quantity-increment">
          +
        </button> %>
      </div>

      <%= f.label :purchase_date, "Date d'achat :", class: "date-label mt-0 ms-0" %>
      <br>
      <div class="date-controls">
      <%= f.date_field :purchase_date, class: "ingredient-date" %>
      </div>

      <%= f.file_field :photo, class: "add-photo-btn" %>
  <%= f.submit "Ajouter l'ingrédient", class:"submit-button btn-patate-forme mt-4" %>
</div>
<div class="sub">

</div>
    <% end %>
  </div>
</div>
</div>

<%# <script>

document.addEventListener("DOMContentLoaded", function() {
var quantityField = document.querySelector(".ingredient-quantity");
   var decrementButton = document.querySelector(".quantity-decrement");
   var incrementButton = document.querySelector(".quantity-increment");

  decrementButton.addEventListener("click", function() {
    if (quantityField.value > 0) {
      quantityField.stepDown();
    }
  });

  incrementButton.addEventListener("click", function() {
    quantityField.stepUp();
  });
   });

</script> %>
